%h1=h @news.title

%p.news_date= format_date(@news.created_at)
%p.avail_translations= translations_article(@news) #text-align: right;margin-top: -2.7em;
%p.abstract= textilize_without_paragraph(@news.lead)
.texttext= textilize(@news.body)
%p.author
  %b= "#{t('label.news.author')}:"
  =h @news.user.full_name

= render('news/editor_actions', :news => @news) if editor?
%p= link_to t('label.news.back_to_list'), news_item_index_path
